/__pychache__/
/__pycache__
*.dmp
*.out
/temp/
/log/
*.css.map
*.pstat
*.zip
callgrind*.*
.vscode/
/.*cache*
*.dmp
*.out
/temp/
*.css
*.css.map
*.pstat
*.zip
callgrind*.*
.env.development.local
kiosk_secure.yml
**/__pycache__/
*.fmp*
*.log
*.dsn
*.dmp
*reset.yml
**/log/
**/.*cache/
**/venv*/
**/.idea/
**/screenshots/
**/venv_*/
